apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: cricket-feedback-ingress
  namespace: cricket-feedback
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    oci.oracle.com/oci-load-balancer-type: "flexible"
    oci.oracle.com/oci-network-security-groups: ""
spec:
  ingressClassName: nginx
  rules:
    - http:
        paths:
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: backend-service
                port:
                  number: 5001
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend-service
                port:
                  number: 80
